# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Git
.git
.gitignore

# Docker
.dockerignore

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Python build files
build/
dist/
*.egg-info/

# Environment files
.env